html {
  background: #F7F7F7;
  align-items: center;
  flex: 1;
  min-height: calc(100vh);
}
html [v-cloak] {
  display: none;
}
html .main_div {
  padding-bottom: 0.666667rem;
}
html .main_div .radio_group {
  padding: 0.533333rem 0.133333rem;
}
html .main_div .radio_group .cell_main {
  margin-bottom: 0.24rem;
  padding: 0.4rem 0.266667rem;
  box-shadow: 0 0 0.453333rem 0 rgba(18, 46, 116, 0.1);
  border-radius: 0.133333rem;
}
html .main_div .radio_group .cell_main .cell_div .cell_title {
  font-size: 0.453333rem;
  font-family: PingFang SC;
  font-weight: 500;
}
html .main_div .radio_group .cell_main .cell_div .cell_title .cell_name {
  letter-spacing: 0.026667rem;
}
html .main_div .radio_group .cell_main .cell_div .cell_title .cell_phone {
  color: #444444;
}
html .main_div .radio_group .cell_main .cell_div .cell_subtitle {
  margin: 0.266667rem 0;
  font-family: PingFang SC;
  font-size: 0.346667rem;
  font-weight: 500;
  color: #888888;
}
html .main_div .radio_group .cell_main .cell_radio_row .cell_radio .van-icon {
  background-color: transparent;
  border-color: #007D7B;
}
html .main_div .radio_group .cell_main .cell_radio_row .cell_radio .van-radio__label {
  font-family: PingFang SC;
  font-size: 0.32rem;
  font-weight: 500;
  color: #007D7B;
}
html .main_div .radio_group .cell_main .cell_radio_row .cell_radio_btn_group .cell_radio_btn {
  height: auto;
  margin-left: 0.266667rem;
  padding: 0.133333rem 0.266667rem;
  font-family: PingFang SC;
  font-size: 0.266667rem;
  font-weight: 500;
  color: #888888;
  line-height: 0.266667rem;
}
html .main_div .add_btn_div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
html .main_div .add_btn_div .add_btn {
  width: 100%;
  border: none;
  font-family: PingFang SC;
  font-size: 0.48rem;
  font-weight: 500;
  background: #74B6B5;
}
