<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0" />
    <title>新增收货地址</title>
    <link rel="stylesheet" href="./css/address/index.css" />
    <link href="./iconfont/iconfont.css" rel="stylesheet">
    <link href='./vant/index.css' rel='stylesheet'>
    <script src='./vue/vue.js'></script>
    <script src='./vant/vant.min.js'></script>
    <script src="./config/flexible.js"></script>
</head>

<body>
    <div id="friend" class="main_div" v-cloak>
        <van-nav-bar title="收货地址" left-arrow @click-left="onClickLeft" :fixed="true"></van-nav-bar>
        <van-radio-group class="radio_group" v-model="chosenAddress" style="margin-top: 46px;">
            <van-cell-group v-if="list">
                <van-cell class="cell_main" v-for="(item, index) in list" :key="index" @click="backAddress(item)">
                    <div class="cell_div" slot="title">
                        <van-row class="cell_title" type="flex" justify="space-between" align="center">
                            <van-col class="cell_name">{{item.contactName}}</van-col>
                            <van-col class="cell_phone">{{item.contactMobile}}</van-col>
                        </van-row>
                        <div class="cell_subtitle">
                            {{item.fullAddress}}
                        </div>
                    </div>
                    <van-row slot="label" class="cell_radio_row" type="flex" justify="space-between" align="center">
                        <van-col class="cell_radio_col">
                            <van-radio class="cell_radio" checked-color="#007D7B" :name="item.id"
                                @click.stop="onChange(item)">设为默认</van-radio>
                        </van-col>
                        <van-col class="cell_radio_btn_group">
                            <van-button class="cell_radio_btn" plain hairline type="primary"
                                @click.stop="onRemove(item)">删除
                            </van-button>
                            <van-button class="cell_radio_btn" plain hairline type="primary" @click.stop="onEdit(item)">
                                编辑
                            </van-button>
                        </van-col>
                    </van-row>
                </van-cell>
            </van-cell-group>
        </van-radio-group>
        <div class="add_btn_div">
            <van-button class="add_btn" type="primary" @click="onAdd">添加新地址</van-button>
        </div>
    </div>
    <script src="./api/axios.min.js"></script>
    <script src="./api/index.js"></script>
    <script src="./api/api.js"></script>
    <script src="./config/routers.js"></script>
    <script src="./js/address/index.js"></script>
</body>

</html>