<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" content="0" />
    <title>订单详情</title>
    <link rel="stylesheet" href="./css/order_detail/index.css" />
    <link href="./iconfont/iconfont.css" rel="stylesheet">
    <link href='./vant/index.css' rel='stylesheet'>
    <script src='./vue/vue.js'></script>
    <script src='./vant/vant.min.js'></script>
    <script src="./config/flexible.js"></script>
</head>

<body>
    <div id="friend" class="page" v-cloak>
        <van-nav-bar title="订单详情" left-arrow @click-left="onClickLeft" :fixed="true"></van-nav-bar>
        <div class="order_detail" style="margin-top: 46px;">
            <div class="order_product">
                <van-image class="commodity_img" slot="thumb" fit="contain" width="2.453333rem" height="2.453333rem"
                    :src="item.picGoods">
                </van-image>
                <div class="product_right">
                    <div class="right_title">{{item.title}}</div>
                    <div v-if="item.isIdentify==='1'">鉴定费:￥{{item.priceIdentify}}</div>
                    <div class="commodity_priceIdentify">代购费:￥{{item.pricePurchase}}</div>
                    <div class="right_price">¥{{item.priceGoods}}
                        <span style="margin-left: 10px; color:#000;">
                            x1
                        </span>
                    </div>
                </div>
            </div>
            <div class="order_item" style="margin-top: 10px;">
                <div class="item_label">订单状态:</div>
                <div class="item_value">
                    <span v-if="item.status == 'A'">未指派</span>
                    <span v-else-if="item.status == 'C'">待支付</span>
                    <span v-else-if="item.status == 'Y'">已上传支付凭证</span>
                    <span v-else-if="item.status == 'D'">已取消</span>
                    <span v-else-if="item.status == 'R' ||　item.status == 'F' || item.status == 'X'">待发货</span>
                    <span v-else-if="item.status == 'R'">待收货</span>
                    <span v-else-if="item.status == 'E'">已完成</span>
                    <span v-else-if="item.status == 'S'">申请退货</span>
                    <span v-else-if="item.status == 'T'">退货成功</span>
                    <span v-else-if="item.status == 'Q'">退货失败</span>
                    <span v-else>全部</span>
                </div>
            </div>
            <div class="order_item">
                <div class="item_label">订单号:</div>
                <div class="item_value">{{item.orderNo}}</div>
            </div>

            <div class="order_item">
                <div class="item_label">下单时间:</div>
                <div class="item_value">{{item.createtime}}</div>
            </div>
            <div class="order_item" style="margin-bottom: 10px;">
                <div class="item_label">买家留言:</div>
                <div class="item_value">{{item.remark}}</div>
            </div>
            <div class="order_item">
                <div class="item_label">收货人:</div>
                <div class="item_value">{{item.mailName}}
                    <span style="margin-left:20px;">{{item.mailPhone}}</span>
                </div>
            </div>
            <div class="order_item" v-if="item.mailAddress">
                <div class="item_label">收货地址:</div>
                <div class="item_value">{{item.mailAddress}}</div>
            </div>
            <div class="order_item" style="margin-bottom: 10px;" v-if="item.userPaymentPic">
                <div class="item_label">支付凭证:</div>
                <div class="item_value">
                    <van-image style="margin-bottom: 10px;" class="commodity_img" slot="thumb" fit="contain"
                        width="2.453333rem" height="2.453333rem" :src="item.userPaymentPic" @click="paymentPic">
                    </van-image>
                    <van-image-preview v-model="showPaymentPic" :images="showPaymentPicImage">
                    </van-image-preview>
                </div>
            </div>
            <div class="order_item" v-if="item.sysExpressNo">
                <div class="item_label">物流单号:</div>
                <div class="item_value">{{item.sysExpressNo}}</div>
            </div>
            <div class="order_item" v-if="item.sysExpressPic" style="margin-bottom: 10px;">
                <div class="item_label">物流凭证:</div>
                <div class="item_value">
                    <van-image
                        v-if="item.status == 'R' || item.status == 'E' || item.status == 'S' || item.status == 'T' || item.status == 'Q'"
                        class="commodity_img" slot="thumb" fit="contain" width="2.453333rem" height="2.453333rem"
                        :src="item.sysExpressPic" @click="merchantmentPic">
                    </van-image>
                    <van-image-preview v-model="showmerchantPic" :images="showmerchantPicImage">
                    </van-image-preview>
                </div>
            </div>
            <template v-if="(item.status == 'S' || item.status == 'T' || item.status == 'Q') && refuseInfo.refuseNo">
                <div class="order_item" v-if="refuseInfo.userRemark">
                    <div class="item_label">申请退货原因:</div>
                    <div class="item_value">{{refuseInfo.userRemark}}</div>
                </div>
                <div class="order_return" style="margin-bottom: 10px;" v-if="refuseInfo.userPic">
                    <div class="item_label">申请退货上传凭证:</div>
                    <div class="item_value">
                        <van-image v-for="(item,index) in refuseInfo.userPic" style="margin-right:10px;"
                            class="commodity_img" slot="thumb" fit="contain" width="2.453333rem" height="2.453333rem"
                            :src="item" @click="userPic">
                        </van-image>
                        <van-image-preview v-model="showuserPic" :images="refuseInfo.userPic">
                        </van-image-preview>
                    </div>
                </div>
            </template>
            <template v-if="item.status == 'Q'">
                <div class="order_item" v-if="refuseInfo.merchantRemark">
                    <div class="item_label">商家拒绝退货理由:</div>
                    <div class="item_value">{{refuseInfo.merchantRemark}}</div>
                </div>
                <div class="order_item" v-if="refuseInfo.sysRemark">
                    <div class="item_label">平台拒绝退货理由:</div>
                    <div class="item_value">{{refuseInfo.sysRemark}}</div>
                </div>
                <div class="order_return" style="margin-bottom: 10px;" v-if="refuseInfo.merchantPic">
                    <div class="item_label">商家拒绝退货上传凭证:</div>
                    <div class="item_value">
                        <van-image v-for="(item,index) in refuseInfo.merchantPic" style="margin-right:10px;"
                            class="commodity_img" slot="thumb" fit="contain" width="2.453333rem" height="2.453333rem"
                            :src="item" @click="merchantPic">
                        </van-image>
                        <van-image-preview v-model="showmerchantPic" :images="refuseInfo.merchantPic">
                        </van-image-preview>
                    </div>
                </div>
            </template>
            <div class="item-button"
                style="display: flex; justify-content: flex-end; padding:10px 0px; background: #fff;">
                <van-button style="margin-right:10px;" type="primary" @click.stop="pay(item)"
                    v-if="item.status == 'C' ">待支付
                </van-button>
                <van-button style="margin-right:10px;" type="primary" @click.stop="cancel(item)"
                    v-if="item.status == 'C' ">取消订单
                </van-button>
                <van-button style="margin-right:10px;" type="primary" @click.stop="uploadPayment(item)"
                    v-if="item.status == 'C' ">上传支付凭证
                </van-button>
                <van-button style="margin-right:10px;" type="primary" @click.stop="confirm_goods(item)"
                    v-if="item.status == 'R'">
                    确认收货
                </van-button>
                <van-button style="margin-right:10px;" type="primary" @click.stop="returnGoods()"
                    v-if="item.status == 'R' ||　item.status == 'F' || item.status == 'X' || item.status == 'R' || item.status == 'E'">
                    申请退货
                </van-button>
            </div>
        </div>
        <van-dialog class="account_dialog" v-model="showPayment" title="上传支付凭证" show-cancel-button
            confirm-button-text="上传支付凭证" confirm-button-color="#fff" @confirm="confirmPayment">
            <div class="order_upload">
                <div class="upload_top">上传凭证 <span>（最多1张）</span></div>
                <div class="upload_img">
                    <van-uploader v-model="fileList" multiple :max-count="1">
                        <van-image class="commodity_img" slot="thumb" fit="contain" width="2.453333rem"
                            height="2.453333rem" src="./img/order_detail_1.png">
                        </van-image>
                    </van-uploader>
                </div>
            </div>
        </van-dialog>
        <van-dialog class="account_dialog" v-model="showUser" title="申请退货" show-cancel-button confirm-button-text="申请退货"
            confirm-button-color="#fff" @confirm="confirmUser">
            <van-field v-model="userRemark" type="textarea" label="退货原因" placeholder="请输入退货原因" rows="1" autosize>
            </van-field>
            <div class="order_upload">
                <div class="upload_top">上传凭证 <span>（最多3张）</span></div>
                <div class="upload_img">
                    <van-uploader v-model="fileList" multiple :max-count="3">
                        <van-image class="commodity_img" slot="thumb" fit="contain" width="2.453333rem"
                            height="2.453333rem" src="./img/order_detail_1.png">
                        </van-image>
                    </van-uploader>
                </div>
            </div>
        </van-dialog>
    </div>
    <script src="./api/axios.min.js"></script>
    <script src="./api/index.js"></script>
    <script src="./api/api.js"></script>
    <script src="./config/routers.js"></script>
    <script src="./js/order_detail/index.js"></script>
</body>

</html>