html {
  background: #F7F7F7;
  flex: 1;
  align-items: center;
  min-height: calc(100vh);
}
html [v-cloak] {
  display: none;
}
html .main_div .card_div {
  margin: .4rem .133333rem;
  padding: 0 .133333rem;
  border-radius: .133333rem;
  box-shadow: 0px 0px 35px 0px rgba(18, 46, 116, 0.1);
  background: #ffffff;
}
html .main_div .card_div .card_cell_group {
  margin: .133333rem 0;
  background: transparent;
}
html .main_div .card_div .checkbox {
  padding: .533333rem .266667rem .4rem 0;
  background: #ffffff;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 .133333rem .133333rem;
  font-family: PingFang SC;
  font-size: .4rem;
  font-weight: 500;
  color: #007D7B;
}
html .main_div .van-action-sheet {
  max-height: 50%;
}
html .main_div .add_btn_div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
html .main_div .add_btn_div .add_btn {
  width: 100%;
  border: none;
  font-family: PingFang SC;
  font-size: .48rem;
  font-weight: 500;
  background: #007D7B;
}
